ul.nav-pills {
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/* #myScrollspy {
    display: flex;
    justify-content: space-between;
    align-content: center;
} */

.container-fluid {
    position: fixed;
    max-width: 300px;
    margin-left: 2em;
    margin-top: 4em;
    float: left;
    display: flex;
    justify-content: center;
    font-size: 95%;
}

h4 {
    margin-top: 2em;
}

a {
    color: black;
}

.dropdown-menu {
    text-align: center;
}

.line {
    background-color: rgb(63, 63, 63);
    height: 0,5px;
    width: 100%;
    color: rgb(63, 63, 63);
    display: inline-flex;
    align-self: flex-start;
}
